@import "tailwindcss";
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Edu+QLD+Hand:wght@400..700&display=swap');

@theme{
  --font-edu:'Edu NSW ACT Hand Pre', 'cursive';
}
@keyframes slideTop {
  0% { transform: translateY(-100px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes slideLeft {
  0% { transform: translateX(-100px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideRight {
  0% { transform: translateX(100px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

.animated-box {
  padding: 5px;
}

.slide-top { animation: slideTop 0.9s ease-out; }
.slide-left { animation: slideLeft 0.9s ease-out; }
.slide-right { animation: slideRight 0.9s ease-out; }

.animated-box a:hover {
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;
}
body{
  background-color:slategray;
  color: aliceblue;
}

@layer utilities {
  @keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
}
