@import "tailwindcss";
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Edu+QLD+Hand:wght@400..700&display=swap');

@theme {
  --font-edu: 'Edu NSW ACT Hand Pre', cursive;
}

@keyframes slideTop {
  0% { transform: translateY(-100px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes slideLeft {
  0% { transform: translateX(-100px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideRight {
  0% { transform: translateX(100px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideBottom {
  0% { transform: translateY(100px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.slide-top { animation: slideTop 0.9s ease-out; }
.slide-left { animation: slideLeft 0.9s ease-out; }
.slide-right { animation: slideRight 0.9s ease-out; }
.slide-bottom { animation: slideBottom 0.9s ease-out; }

.animated-box {
  padding: 5px;
}
.animated-box a:hover {
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;
}

body {
  background-color: rgb(5, 22, 39);
  color: #ffffff;
}

@layer utilities {
  @keyframes float {
    0%,50%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  @keyframes slide-in-left {
    0% {
      transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-in-left {
    animation: slide-in-left 0.6s ease-out forwards;
  }
}

/*hello*/
.icon1, .icon2, .icon3, .icon4 {
  transition: filter 0.3s ease, transform 0.3s ease;
}

.icon1:hover {
  filter: drop-shadow(0 0 14px cyan);
}

.icon2:hover {
  filter: drop-shadow(0 0 14px #ff70a6);
}

.icon3:hover {
  filter: drop-shadow(0 0 14px gold);
}

.icon4:hover {
  filter: drop-shadow(0 0 14px #c084fc);
}


